/* xiaomi redmi note 8 pro */
/* Xiaomi Redmi Note 8 Pro has viewport size 393 x 851 Pixels and its pixel ratio is about 2.75. */

.weather-card {
  margin: auto;
  margin-bottom: 96px;

  display: flex;
  flex-direction: column;

  width: 18rem;
  aspect-ratio: 3/3.5;

  background: var(--background-color);

  align-items: center;
  justify-content: center;
}

p {
  margin-bottom: 12px;
  font-size: 1.5rem;
}

.weather-card__temperature {
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 700;
}

.weather-card__temperature--loading {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0;
}
